-- Contoh SQL untuk membuat user dengan PIN yang benar
-- 1. Dapatkan store_id
SELECT id FROM stores WHERE code = 'WARUNG-IYOY';

-- 2. Generate salt
SELECT generate_pin_salt() AS salt;

-- 3. Hash PIN dengan salt
SELECT hash_pin('1234', 'salt_dari_langkah_2') AS pin_hash;

-- 4. Insert user (ganti store_id, salt, pin_hash dengan nilai sebenarnya)
INSERT INTO store_users (store_id, full_name, pin_salt, pin_hash, role, is_active)
VALUES ('store_id_dari_langkah_1', 'Pemilik Warung', 'salt_dari_langkah_2', 'pin_hash_dari_langkah_3', 'owner', true);
